<h1>Create your task!</h1>

<form [formGroup]="toDo" class="form">
  <div class="cell">
    <label>#</label>
    <input formControlName="id" type="number">
    <div *ngIf="toDo.controls.id.invalid">please fill!</div>
  </div>
  <div class="cell">
    <label>Title:</label>
    <input formControlName="title">
    <div *ngIf="toDo.controls.title.invalid">please fill!</div>
  </div>
  <div class="cell">
    <label>Text:</label>
    <input formControlName="body">
    <div *ngIf="toDo.controls.body.invalid">please fill!</div>
  </div>
  <div class="cell">
    <label>Type:</label>
    <select formControlName="type">
      <option value="high">high</option>
      <option value="medium">medium</option>
      <option value="low">low</option>
    </select>
    <div *ngIf="toDo.controls.type.invalid">please fill!</div>
  </div>
  <button (click)="createTask(toDo)" [disabled]='toDo.invalid'>create!</button>
</form>
<hr>
<app-todo *ngFor="let d of data" [todo]="d"></app-todo>
